<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body>
    <p>Un nouvel évenement a été ajouté à l'agenda de la SAM : <a href="https://www.societe-astronomique-montpellier.fr/agenda/{{documentUid}}" target="_blank">"{{title}}"</a>.</p>
    <ul>
        <li>Lieu: {{location}}</li>
        <li>Date & heure de début: {{dateStart}}</li>
        <li>Date & heure de fin: {{dateEnd}}</li>
    </ul>
    <p>Un rappel sera envoyé sur la sam-liste le jour de l'évènement</p>
    <p>Tous les évènements sont consultables sur <a href="https://www.societe-astronomique-montpellier.fr/agenda" target="_blank">l'agenda de la SAM</a></p>
    <p>Ceci est un mail automatique, merci de ne pas y répondre.</p>
    <p>Bien cordialement.</p>
</body>
</html>